.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.left-bar{
    position: absolute;
    width: 70%;
    left: 0;

}
.right-bar{
    width: 30%;
    position: absolute;
    right: 0;
}

.col {
    background-color: wheat;
}