<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Blog | Thu Juli</title>

    {% include 'snippet/styles.html' %}
</head>

<body>
    {% include 'snippet/navbar.html' %}
    <div class="container shadow p-3 mb-5 bg-body rounded">
        {% include 'snippet/category-map.html' %}
        {% block content %}
        {% endblock content %}
    </div>
    {% include 'snippet/footer.html' %}
    {% include 'snippet/scripts.html' %}
</body>

</html>