{% extends 'base.html' %}


{% block content %}
    <div class="container pt-3">
        <h1>Testing</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum totam iste beatae cumque perspiciatis. Aliquid asperiores consectetur blanditiis aperiam veniam quasi dolores minus pariatur voluptates provident quia tempora cumque exercitationem, nisi, facere iusto a! Quae quas perferendis pariatur a cumque numquam vel illo quisquam, excepturi temporibus. Molestiae nobis error animi officiis, voluptates suscipit reiciendis fugit doloribus sequi ipsam, delectus beatae! Aspernatur veniam eaque unde et, illo fuga eveniet aperiam, quaerat provident eos adipisci. Esse temporibus reiciendis, facere et impedit error quisquam accusamus fuga sunt architecto magni expedita ipsa saepe neque dolores tenetur nam facilis repudiandae. Molestias illo neque nemo vitae!</p>
    </div>
{% endblock content %}